<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DST</key>
	<array>
		<string>CO</string>
		<string>NT</string>
		<string>CM</string>
		<string>CS</string>
	</array>
	<key>MC</key>
	<array>
		<string>SH</string>
		<string>FF</string>
		<string>BD</string>
		<string>SWL</string>
	</array>
	<key>CLS</key>
	<array>
		<string>ICT</string>
		<string>CC</string>
		<string>RPA</string>
		<string>HS</string>
		<string>DMH</string>
	</array>
	<key>LOG</key>
	<array>
		<string>TRA</string>
		<string>SUP</string>
		<string>NFO</string>
		<string>IKD</string>
		<string>WHS</string>
		<string>PRO</string>
		<string>LSAP</string>
	</array>
	<key>OM</key>
	<array>
		<string>OM</string>
	</array>
	<key>ER</key>
	<array>
		<string>PA</string>
		<string>LG</string>
		<string>CPS</string>
		<string>FR</string>
	</array>
	<key>SS</key>
	<array>
		<string>SPS</string>
		<string>SW</string>
		<string>SR</string>
		<string>LCV</string>
	</array>
	<key>Other</key>
	<array>
		<string>INV</string>
	</array>
	<key>IP</key>
	<array>
		<string>FSI</string>
		<string>DA</string>
		<string>FIN</string>
		<string>IR</string>
		<string>ID</string>
	</array>
</dict>
</plist>
